@{
    ViewData["Title"] = "Kendo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>Kendo elements: grids</h2>
<div class="space-medium"></div>
<h4>Example</h4>
<br />
<div class="row">
    <div class="col-md-8">
        @(Html.Kendo().Grid<Heartthrob.Entities.Customer>().Name("grid").Columns(columns =>
                            {
                                columns.Bound(c => c.ContactName);
                                columns.Bound(c => c.ContactTitle);
                                columns.Bound(c => c.CompanyName);
                                columns.Bound(c => c.Country).Width(110);
                            }).HtmlAttributes(new { style = "height: 250px;" }).Scrollable().Sortable().Groupable()
                                      .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
                                      .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("Read", "Kendo"))))
    </div>
</div>
<div class="space-medium"></div>
<h4>Example inside card with filter</h4>
<br />
<div class="row">
    <div class="col-md-8">
        <div class="card">
            <h4>Some table</h4>
            <hr />
            @(Html.Kendo().Grid<Heartthrob.Entities.Customer>().Name("grid2").Columns(columns =>
                            {
                                columns.Bound(c => c.ContactName);
                                columns.Bound(c => c.ContactTitle);
                                columns.Bound(c => c.CompanyName);
                                columns.Bound(c => c.Country).Width(110);
                            }).HtmlAttributes(new { style = "height: 250px;" }).Scrollable().Sortable().Filterable()
                                      .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
                                      .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("Read", "Kendo"))))
        </div>
    </div>
</div>
<div class="space-medium"></div>
<h4>Example inside card with buttons</h4>
<br />
<div class="row">
    <div class="col-md-8">
        @(Html.Kendo().Grid<Heartthrob.Entities.Customer>().Name("grid3").Columns(columns =>
            {
                columns.Bound(c => c.ContactName);
                columns.Bound(c => c.ContactTitle);
                columns.Bound(c => c.CompanyName);
                columns.Bound(c => c.Country).Width(110);
                columns.Bound(p => p.CustomerID).ClientTemplate(@"
                <a class='btn' href='#=CustomerID#'>
                    <i class='fa fa-user'></i> Edit
                </a>
                <a class='btn' href='#=CustomerID#'>
                    <i class='fa fa-user'></i> More
                </a>").Title("Options").Width(260).Editable("noEdit").Filterable(false).HtmlAttributes(new { @style = "padding-right:0" }); ;
                columns.Command(command => { command.Destroy().Text("Delete"); }).Width(128).HtmlAttributes(new { @style = "padding-left:3px" }); ;
            }).HtmlAttributes(new { style = "height: 350px;" }).Scrollable().Sortable().Filterable()
                                  .Pageable(pageable => pageable.Refresh(true).PageSizes(true).ButtonCount(5))
                                  .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("Read", "Kendo"))))
    </div>
</div>
<div class="space-medium"></div>
<h4>Example inside card with detail view</h4>
<br />
<div class="row">
    <div class="col-md-8">
        @(Html.Kendo().Grid<Heartthrob.Entities.Customer>()
                    .Name("grid4")
                    .Columns(columns =>
                    {
                        columns.Bound(c => c.ContactName);
                        columns.Bound(c => c.ContactTitle);
                        columns.Bound(c => c.CompanyName);
                        columns.Bound(c => c.Country).Width(110);
                    })
                    .Sortable()
                    .Pageable()
                    .Scrollable()
                    .ClientDetailTemplateId("template")
                    .HtmlAttributes(new { style = "height:450px;" })
                    .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("HierarchyBinding_Employees", "Kendo"))))
    </div>
</div>
<br /><br /><br />

<script>
    function noEdit(dataItem) {
        return dataItem.Id == 0;
    }
    function CellCloseScript(e) {
        this.saveChanges();
    }
</script>

<script id="template" type="text/kendo-tmpl">
    @(Html.Kendo().Grid<Heartthrob.Entities.Customer>()
                .Name("gridx_")
                .Columns(columns =>
                {
                    columns.Bound(c => c.ContactName);
                    columns.Bound(c => c.ContactTitle);
                    columns.Bound(c => c.CompanyName);
                    columns.Bound(c => c.Country).Width(110);
                })
                .DataSource(dataSource => dataSource.Ajax().Read(read => read.Action("HierarchyBinding_Orders", "Kendo")))
                .Pageable()
                .Sortable()
                .ToClientTemplate())
</script>